@IMPORT
url('https://fonts.googleapis.com/css?family=Anton|Archivo+Black|Merriweather+Sans|Mukta|Noto+Sans|Sarabun');

* { margin: 0; box-sizing: border-box; } 
/*@media only screen and (max-width: 767px) {*/

#content {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}

#logo .heading {
    display: inLine-block;
    vertical-align: middle;
}
#logo {
    position: absolute;
    max-width: 10%;
    top: 10px;
    left: 10px;
    
}
.heading {
    margin: 1px auto;
    background-color: #96e5ff;
   
    text-align: center;
    padding: 1em 1em 1em 1em;
}
h1 {
    font-family: 'Merriweather+Sans', Helvetica;
    font-size: 1em;
    text-align: center;
    padding-top: 15px;  
}
.motto {
    font-family: 'Merriweather+Sans', Helvetica;
    font-size: .5em;
    text-align: center;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}
nav {
    background-color: #3b5377;
    font-family: 'Merriweather+Sans', Helvetica;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li a:hover {
    background-color: #d69c4a;
    color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;

}
nav ul li.current {
    color: #3b5377;
    background-color: #96e5ff;
    
}
nav ul.hide {
    display: none;
}
h3{
    font-family: 'Merriweather+Sans', Helvetica;
    font-size: 1em;
    text-align: center;
}
.heroph {
        margin: 10px auto;
        background-color: #96e5ff;
        width: 98%;        
}
