@import url('https://fonts.googleapis.com/css?family=Meera+Inimai');
@media only screen and (min-width: 719px) {    
    
  
    /*Header*/
    #heading {      
        padding-top: .5em; 
    }     
    .top {
        font-size: 1.5rem;
        padding-top: 2rem;
        padding-left: 1rem;
    }
    .container-2 {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
    }
    .bottom-pictures {
      display: grid;
      grid-template-columns: auto auto auto auto; 
      width: 98%;
    } 
    }